aside {
    height: 100vh;
    background-color: #2E345E;
    position: sticky;
    top: 0;
}

aside nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

aside nav div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside nav div a {
    color: #2E345E;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

.user_header img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 5px;
    border: white 2px solid;
}