:root {
    --color-primary: #2E2E2E;
    --color-secondary: white;
    --color-tertiary: #b0b0b0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .container {
        margin-top: 90px;
    }
}